apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: shared-data-pvc-new
  namespace: kube-credential-ns
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
  storageClassName: manual-efs
