apiVersion: apps/v1
kind: Deployment
metadata:
  name: verification-service-deployment
  namespace: kube-credential-ns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: verification-service
  template:
    metadata:
      labels:
        app: verification-service
    spec:
      containers:
        - name: verification-service
          image: 885706662470.dkr.ecr.us-east-1.amazonaws.com/verification-service:latest
          imagePullPolicy: Always
          resources:
            requests:
              memory: "64Mi"
              cpu: "250m"
            limits:
              memory: "128Mi"
              cpu: "500m"
          ports:
            - containerPort: 8082
          volumeMounts:
            - name: shared-storage
              mountPath: /usr/src/app/shared
      volumes:
        - name: shared-storage
          persistentVolumeClaim:
            claimName: shared-data-pvc-new
