apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: kube-credential-ns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
        - name: api-gateway
          image: 885706662470.dkr.ecr.us-east-1.amazonaws.com/api-gateway:latest
          imagePullPolicy: Always
          resources:
            requests:
              memory: "64Mi"
              cpu: "250m"
            limits:
              memory: "128Mi"
              cpu: "500m"
          ports:
            - containerPort: 3000
          env:
            - name: PORT
              value: "3000"
            - name: JWT_SECRET
              value: "supersecretchangeme"
            - name: AUTH_URL
              value: "http://auth-service:4000"
            - name: ISSUANCE_URL
              value: "http://issuance-service:8081"
            - name: VERIFICATION_URL
              value: "http://verification-service:8082"
            - name: CORS_ORIGIN
              value: "*"
